{% extends 'base.html' %}
{% load snippet_tags %}

{% block title %}
{% filter striptags %}
{% snippet 'home-title' %}Your Sitename Here{% endsnippet %}
{% endfilter %}
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
{% endblock head %}

{% block body %}

    {% include "header.html" %}

    <div class="container">
        <h2>{% snippet 'home-title' striptags %}Your Homepage Title Here{% endsnippet %}</h2>
        <div>{% snippet 'home-body' %}
            <p>Put some body text on your homepage</p>
            {% endsnippet %}</div>
    </div> <!-- /container -->

    {% include "footer.html" %}

{% endblock body %}