<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %} - Django Things CMS</title>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{{ STATIC_URL }}css/bootstrap-custom.css" rel="stylesheet">
    {% block css %}

    {% endblock css %}
    
    {% block head %}{% endblock head %}

</head>
<body>
    <div class="container">
        {% block body %}{% endblock body %}
    </div> <!-- /container -->
    {% block js %}{% endblock js %}
</body>
</html>